* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-content {
    padding: 20px;
}

h2 {
    margin-top: 0;
    font-size: 18px;
    color: #333;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}

li {
    margin-bottom: 10px;
}

button {
    background-color: #24a0ed;
    color: #040245;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 19rem;
    margin: 1rem 0.5rem;
    border: 1px solid #ddd;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
h3 {
    font-size: 16px;
    color: #333;
    margin-top: 20px;
}

p {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}
